/*
  MAIN for section
*/
#intro_broker_first_block > .container,
#what_we_need_block > .container,
#ifx_difference_block > .container,
#intro_broker_expectation > .container,
#intro_broker_partnership > .container,
#intro_broker_strategies > .container,
#intro_broker_partners > .container,
#intro_broker_promo > .container {
  max-width: 1350px; }

/*
  1 section
  ===================================
*/
#intro_broker_first_block {
  overflow: hidden;
  height: 100%;
  max-height: 980px;
  background-color: #131319;
  background-image: url("../img/introducing/img-intro-section1.png");
  background-position: 84% bottom;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 50px; }
  @media screen and (min-width: 320px) {
    #intro_broker_first_block {
      padding-top: calc(100px + 156 * (100vw - 320px) / 1120); } }
  @media screen and (min-width: 1440px) {
    #intro_broker_first_block {
      padding-top: 256px; } }
  @media screen and (min-width: 320px) {
    #intro_broker_first_block {
      padding-bottom: calc(50px + 39 * (100vw - 320px) / 1120); } }
  @media screen and (min-width: 1440px) {
    #intro_broker_first_block {
      padding-bottom: 89px; } }
  @media screen and (max-width: 1365px) {
    #intro_broker_first_block {
      background-position-x: 150%; } }
  @media screen and (max-width: 991px) {
    #intro_broker_first_block {
      background-position-x: 320px; } }
  @media screen and (max-width: 767px) {
    #intro_broker_first_block {
      max-height: 100%;
      background-position-x: 150px; } }
  #intro_broker_first_block > .container {
    padding: 0 15px; }
    @media screen and (max-width: 767px) {
      #intro_broker_first_block > .container {
        flex-direction: column; } }
    #intro_broker_first_block > .container .content_block {
      width: 100%;
      padding: 0; }
      @media screen and (min-width: 768px) {
        #intro_broker_first_block > .container .content_block {
          max-width: 495px; } }
      #intro_broker_first_block > .container .content_block p {
        line-height: 1.3125;
        letter-spacing: 0.3px;
        font-size: 14px; }
        @media screen and (min-width: 320px) {
          #intro_broker_first_block > .container .content_block p {
            font-size: calc(14px + 2 * (100vw - 320px) / 1120); } }
        @media screen and (min-width: 1440px) {
          #intro_broker_first_block > .container .content_block p {
            font-size: 16px; } }
        @media screen and (max-width: 767px) {
          #intro_broker_first_block > .container .content_block p {
            color: #fff; } }
        #intro_broker_first_block > .container .content_block p:last-of-type {
          margin: 0; }
  #intro_broker_first_block .left_block {
    padding-right: 15px; }
    @media screen and (max-width: 767px) {
      #intro_broker_first_block .left_block {
        padding-left: 0;
        padding-bottom: 60px; } }
  @media screen and (max-width: 991px) {
    #intro_broker_first_block .right_block {
      display: flex;
      justify-content: flex-end; } }
  @media screen and (max-width: 767px) {
    #intro_broker_first_block .right_block {
      justify-content: flex-start; } }
  @media screen and (max-width: 767px) {
    #intro_broker_first_block .left_block,
    #intro_broker_first_block .right_block {
      width: 100%; } }
  #intro_broker_first_block .title_block {
    padding-bottom: 43px;
    line-height: 1;
    font-size: 55px; }
    @media screen and (min-width: 320px) {
      #intro_broker_first_block .title_block {
        font-size: calc(55px + 65 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_first_block .title_block {
        font-size: 120px; } }
  #intro_broker_first_block .red_square_block {
    line-height: 1.25;
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    height: 250px; }
    @media screen and (min-width: 320px) {
      #intro_broker_first_block .red_square_block {
        font-size: calc(28px + 12 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_first_block .red_square_block {
        font-size: 40px; } }
    @media screen and (min-width: 320px) {
      #intro_broker_first_block .red_square_block {
        padding-left: calc(20px + 20 * (100vw - 320px) / 1120);
        padding-right: calc(20px + 20 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_first_block .red_square_block {
        padding-left: 40px;
        padding-right: 40px; } }
    @media screen and (min-width: 320px) {
      #intro_broker_first_block .red_square_block {
        width: calc(250px + 81 * (100vw - 320px) / 448);
        height: calc(250px + 81 * (100vw - 320px) / 448); } }
    @media screen and (min-width: 768px) {
      #intro_broker_first_block .red_square_block {
        width: 331px;
        height: 331px; } }
    @media screen and (min-width: 768px) {
      #intro_broker_first_block .red_square_block {
        margin-top: 25px; } }

/*
  2 section
  ===================================
*/
#what_we_need_block {
  min-height: 880px;
  padding-top: 55px;
  padding-bottom: 65px; }
  @media screen and (min-width: 320px) {
    #what_we_need_block {
      padding-top: calc(55px + 55 * (100vw - 320px) / 1120); } }
  @media screen and (min-width: 1440px) {
    #what_we_need_block {
      padding-top: 110px; } }
  @media screen and (min-width: 320px) {
    #what_we_need_block {
      padding-bottom: calc(65px + 65 * (100vw - 320px) / 1120); } }
  @media screen and (min-width: 1440px) {
    #what_we_need_block {
      padding-bottom: 130px; } }
  #what_we_need_block .title_block {
    font-size: 40px;
    line-height: 1.2833333333; }
    @media screen and (min-width: 320px) {
      #what_we_need_block .title_block {
        font-size: calc(40px + 20 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #what_we_need_block .title_block {
        font-size: 60px; } }
  @media screen and (max-width: 767px) {
    #what_we_need_block .row_block {
      flex-direction: column;
      margin-bottom: 0 !important; }
      #what_we_need_block .row_block:last-child .content_block:last-child {
        margin-bottom: 0; } }
  #what_we_need_block .row_block:first-child .content_block:last-child {
    padding-top: 8px; }
  @media screen and (max-width: 767px) {
    #what_we_need_block .content_block {
      width: 100%;
      margin-bottom: 50px; } }
  #what_we_need_block .content_block:first-of-type {
    padding-right: 65px; }
    @media screen and (min-width: 1440px) {
      #what_we_need_block .content_block:first-of-type {
        padding-left: 15px; } }
    @media screen and (max-width: 1365px) {
      #what_we_need_block .content_block:first-of-type {
        padding-right: 35px; } }
    @media screen and (max-width: 991px) {
      #what_we_need_block .content_block:first-of-type {
        padding-right: 15px; } }
    @media screen and (max-width: 767px) {
      #what_we_need_block .content_block:first-of-type {
        padding-right: 0; } }
  #what_we_need_block .content_block:last-of-type {
    padding-left: 70px; }
    @media screen and (max-width: 1365px) {
      #what_we_need_block .content_block:last-of-type {
        padding-left: 35px; } }
    @media screen and (max-width: 991px) {
      #what_we_need_block .content_block:last-of-type {
        padding-left: 15px; } }
    @media screen and (max-width: 767px) {
      #what_we_need_block .content_block:last-of-type {
        padding-left: 0; } }
  #what_we_need_block .text_item_title {
    margin-bottom: 20px;
    font-size: 18px; }
    @media screen and (min-width: 320px) {
      #what_we_need_block .text_item_title {
        margin-bottom: calc(20px + 9 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #what_we_need_block .text_item_title {
        margin-bottom: 29px; } }
    @media screen and (min-width: 320px) {
      #what_we_need_block .text_item_title {
        font-size: calc(18px + 4 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #what_we_need_block .text_item_title {
        font-size: 22px; } }
  #what_we_need_block .row_block p {
    max-width: 100%;
    line-height: 1.5;
    font-size: 14px; }
    @media screen and (min-width: 320px) {
      #what_we_need_block .row_block p {
        font-size: calc(14px + 2 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #what_we_need_block .row_block p {
        font-size: 16px; } }

/*
  3 section
  ===================================
*/
#ifx_difference_block {
  padding-bottom: 45px; }
  @media screen and (min-width: 320px) {
    #ifx_difference_block {
      padding-bottom: calc(45px + 44 * (100vw - 320px) / 1120); } }
  @media screen and (min-width: 1440px) {
    #ifx_difference_block {
      padding-bottom: 89px; } }
  #ifx_difference_block .container {
    margin-bottom: 0; }
  #ifx_difference_block #diff_title {
    padding-top: 50px; }
    @media screen and (min-width: 320px) {
      #ifx_difference_block #diff_title {
        padding-top: calc(50px + 50 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #ifx_difference_block #diff_title {
        padding-top: 100px; } }
    #ifx_difference_block #diff_title > div:first-child {
      font-size: 40px;
      line-height: 1.2833333333; }
      @media screen and (min-width: 320px) {
        #ifx_difference_block #diff_title > div:first-child {
          font-size: calc(40px + 20 * (100vw - 320px) / 1120); } }
      @media screen and (min-width: 1440px) {
        #ifx_difference_block #diff_title > div:first-child {
          font-size: 60px; } }
    #ifx_difference_block #diff_title > div:last-child {
      font-size: 25px;
      line-height: 1.2666666667; }
      @media screen and (min-width: 320px) {
        #ifx_difference_block #diff_title > div:last-child {
          font-size: calc(25px + 5 * (100vw - 320px) / 1120); } }
      @media screen and (min-width: 1440px) {
        #ifx_difference_block #diff_title > div:last-child {
          font-size: 30px; } }
  @media screen and (max-width: 767px) {
    #ifx_difference_block .row_block {
      flex-direction: column;
      margin-bottom: 0 !important; } }
  #ifx_difference_block .row_block:nth-child(1) {
    margin-bottom: 41px; }
  #ifx_difference_block .row_block:nth-child(2) {
    margin-bottom: 41px; }
  #ifx_difference_block .row_block:nth-child(3) {
    margin-bottom: 36px; }
  #ifx_difference_block .row_block:last-of-type {
    margin-bottom: 0; }
  #ifx_difference_block .row_block p {
    max-width: 100%;
    color: rgba(19, 19, 36, 0.7);
    font-size: 14px;
    line-height: 1.5; }
    @media screen and (min-width: 320px) {
      #ifx_difference_block .row_block p {
        font-size: calc(14px + 2 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #ifx_difference_block .row_block p {
        font-size: 16px; } }
  @media screen and (max-width: 767px) {
    #ifx_difference_block .content_block {
      width: 100%;
      padding-bottom: 45px; } }
  #ifx_difference_block .content_block:first-child {
    padding-right: 40px; }
    @media screen and (max-width: 1365px) {
      #ifx_difference_block .content_block:first-child {
        padding-right: 30px; } }
    @media screen and (max-width: 991px) {
      #ifx_difference_block .content_block:first-child {
        padding-right: 15px; } }
    @media screen and (max-width: 767px) {
      #ifx_difference_block .content_block:first-child {
        padding-right: 0; } }
  #ifx_difference_block .content_block:last-child {
    padding-left: 40px; }
    @media screen and (max-width: 1365px) {
      #ifx_difference_block .content_block:last-child {
        padding-left: 30px; } }
    @media screen and (max-width: 991px) {
      #ifx_difference_block .content_block:last-child {
        padding-left: 15px; } }
    @media screen and (max-width: 767px) {
      #ifx_difference_block .content_block:last-child {
        padding-left: 0; } }
  #ifx_difference_block .diff_icon {
    width: 135px;
    padding-top: 15px; }
    @media screen and (max-width: 767px) {
      #ifx_difference_block .diff_icon {
        width: 100px;
        padding-right: 15px; }
        #ifx_difference_block .diff_icon img {
          display: block;
          max-width: 100%;
          height: auto;
          margin-left: auto;
          margin-right: auto; } }
  #ifx_difference_block .diff_cont {
    width: 100%;
    max-width: calc(100% - 135px);
    padding-left: 0; }
    @media screen and (max-width: 767px) {
      #ifx_difference_block .diff_cont {
        max-width: calc(100% - 100px); } }
    #ifx_difference_block .diff_cont > * {
      width: 100%;
      max-width: 470px; }
  #ifx_difference_block .text_item_title {
    margin-bottom: 16px;
    letter-spacing: 0.3px;
    font-size: 18px;
    line-height: 1.2727272727; }
    @media screen and (min-width: 320px) {
      #ifx_difference_block .text_item_title {
        font-size: calc(18px + 4 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #ifx_difference_block .text_item_title {
        font-size: 22px; } }

/*
  4 section
  ===================================
*/
#intro_broker_expectation {
  padding-bottom: 40px; }
  @media screen and (min-width: 320px) {
    #intro_broker_expectation {
      padding-bottom: calc(40px + 43 * (100vw - 320px) / 1120); } }
  @media screen and (min-width: 1440px) {
    #intro_broker_expectation {
      padding-bottom: 83px; } }
  @media screen and (min-width: 1200px) {
    #intro_broker_expectation .container {
      padding: 0 37px; } }
  #intro_broker_expectation #expect_title {
    padding-top: 50px; }
    @media screen and (min-width: 320px) {
      #intro_broker_expectation #expect_title {
        padding-top: calc(50px + 49 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_expectation #expect_title {
        padding-top: 99px; } }
    #intro_broker_expectation #expect_title div {
      font-size: 40px;
      line-height: 1.2833333333; }
      @media screen and (min-width: 320px) {
        #intro_broker_expectation #expect_title div {
          font-size: calc(40px + 20 * (100vw - 320px) / 1120); } }
      @media screen and (min-width: 1440px) {
        #intro_broker_expectation #expect_title div {
          font-size: 60px; } }
  #intro_broker_expectation #expect_banner {
    padding-top: 64px;
    padding-bottom: 55px;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px; }
    @media screen and (min-width: 320px) {
      #intro_broker_expectation #expect_banner {
        padding-top: calc(40px + 24 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_expectation #expect_banner {
        padding-top: 64px; } }
    @media screen and (min-width: 320px) {
      #intro_broker_expectation #expect_banner {
        padding-bottom: calc(40px + 15 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_expectation #expect_banner {
        padding-bottom: 55px; } }
  #intro_broker_expectation .red_square_block {
    position: relative;
    top: -24px;
    width: 100%;
    max-width: 340px;
    height: 340px; }
    @media screen and (max-width: 1199px) {
      #intro_broker_expectation .red_square_block {
        transform: scale(0.85); } }
    @media screen and (max-width: 767px) {
      #intro_broker_expectation .red_square_block {
        transform: scale(0.85) translateX(-15px); } }
  #intro_broker_expectation .row_block {
    justify-content: space-between;
    margin-bottom: 54px; }
    @media screen and (max-width: 767px) {
      #intro_broker_expectation .row_block {
        flex-direction: column;
        margin-bottom: 0; } }
    #intro_broker_expectation .row_block:last-child {
      padding-bottom: 0; }
    #intro_broker_expectation .row_block p {
      max-width: 100%;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.3px; }
      @media screen and (min-width: 320px) {
        #intro_broker_expectation .row_block p {
          font-size: calc(14px + 2 * (100vw - 320px) / 1120); } }
      @media screen and (min-width: 1440px) {
        #intro_broker_expectation .row_block p {
          font-size: 16px; } }
  #intro_broker_expectation .content_block {
    width: 100%;
    max-width: 540px;
    padding-right: 10px; }
    @media screen and (max-width: 767px) {
      #intro_broker_expectation .content_block {
        padding: 0;
        margin-bottom: 45px; }
        #intro_broker_expectation .content_block:last-child {
          margin-bottom: 0; } }
    @media screen and (min-width: 768px) {
      #intro_broker_expectation .content_block:first-child {
        padding-right: 15px; } }
    @media screen and (min-width: 768px) {
      #intro_broker_expectation .content_block:last-child {
        padding-left: 15px; } }
  #intro_broker_expectation .text_item_title {
    margin-bottom: 18px;
    letter-spacing: 0.3px;
    font-size: 18px;
    line-height: 1.2727272727; }
    @media screen and (min-width: 320px) {
      #intro_broker_expectation .text_item_title {
        font-size: calc(18px + 4 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_expectation .text_item_title {
        font-size: 22px; } }

/*
  5 section
  ===================================
*/
#intro_broker_partnership {
  padding-bottom: 40px; }
  #intro_broker_partnership #diff_title {
    padding-top: 50px;
    padding-bottom: 50px; }
    @media screen and (min-width: 320px) {
      #intro_broker_partnership #diff_title {
        padding-top: calc(50px + 63 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_partnership #diff_title {
        padding-top: 113px; } }
    @media screen and (min-width: 320px) {
      #intro_broker_partnership #diff_title {
        padding-bottom: calc(50px + 20 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_partnership #diff_title {
        padding-bottom: 70px; } }
    #intro_broker_partnership #diff_title > div:first-child {
      font-size: 40px;
      line-height: 1.2833333333; }
      @media screen and (min-width: 320px) {
        #intro_broker_partnership #diff_title > div:first-child {
          font-size: calc(40px + 20 * (100vw - 320px) / 1120); } }
      @media screen and (min-width: 1440px) {
        #intro_broker_partnership #diff_title > div:first-child {
          font-size: 60px; } }
    #intro_broker_partnership #diff_title > div:last-child {
      font-size: 25px;
      line-height: 1.2666666667; }
      @media screen and (min-width: 320px) {
        #intro_broker_partnership #diff_title > div:last-child {
          font-size: calc(25px + 5 * (100vw - 320px) / 1120); } }
      @media screen and (min-width: 1440px) {
        #intro_broker_partnership #diff_title > div:last-child {
          font-size: 30px; } }
  #intro_broker_partnership .title_block {
    padding-bottom: 10px;
    font-size: 55px;
    line-height: 1.28; }
    @media screen and (min-width: 320px) {
      #intro_broker_partnership .title_block {
        font-size: calc(55px + 45 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_partnership .title_block {
        font-size: 100px; } }
    #intro_broker_partnership .title_block:last-of-type {
      padding-bottom: 0; }
  #intro_broker_partnership .row_block {
    padding: 68px 0 138px; }
    @media screen and (max-width: 991px) {
      #intro_broker_partnership .row_block {
        background-position-x: 300px; } }
    @media screen and (max-width: 767px) {
      #intro_broker_partnership .row_block {
        background-image: none; }
        #intro_broker_partnership .row_block .right_block {
          padding: 0; } }
    @media screen and (max-width: 575px) {
      #intro_broker_partnership .row_block {
        flex-direction: column;
        padding: 30px 0; }
        #intro_broker_partnership .row_block > div {
          width: 100%;
          padding: 15px 0 !important; } }
  #intro_broker_partnership .red_square_block {
    width: 100%;
    max-width: 331px;
    height: 267px;
    padding-left: 20px;
    padding-right: 20px; }
    @media screen and (min-width: 320px) {
      #intro_broker_partnership .red_square_block {
        height: calc(267px + 100 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_partnership .red_square_block {
        height: 367px; } }
    @media screen and (min-width: 320px) {
      #intro_broker_partnership .red_square_block {
        padding-left: calc(20px + 20 * (100vw - 320px) / 1120);
        padding-right: calc(20px + 20 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_partnership .red_square_block {
        padding-left: 40px;
        padding-right: 40px; } }
    #intro_broker_partnership .red_square_block .red_square_title {
      font-size: 28px; }
      @media screen and (min-width: 320px) {
        #intro_broker_partnership .red_square_block .red_square_title {
          font-size: calc(28px + 12 * (100vw - 320px) / 1120); } }
      @media screen and (min-width: 1440px) {
        #intro_broker_partnership .red_square_block .red_square_title {
          font-size: 40px; } }
    @media screen and (max-width: 575px) {
      #intro_broker_partnership .red_square_block {
        margin-left: auto;
        margin-right: auto; } }
  #intro_broker_partnership .masonry_block {
    max-height: 100%;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: space-between; }
    @media screen and (min-width: 1440px) {
      #intro_broker_partnership .masonry_block {
        padding-left: 15px;
        padding-right: 15px; } }
    @media screen and (max-width: 767px) {
      #intro_broker_partnership .masonry_block {
        flex-direction: column; } }
    #intro_broker_partnership .masonry_block .masonry_block-col {
      width: calc((100% / 3) - 20px);
      padding: 0;
      background-color: transparent;
      border-radius: 0;
      margin: 0; }
      @media screen and (max-width: 991px) {
        #intro_broker_partnership .masonry_block .masonry_block-col {
          width: calc((100% / 3) - 10px); } }
      @media screen and (max-width: 767px) {
        #intro_broker_partnership .masonry_block .masonry_block-col {
          width: 100%; } }
      #intro_broker_partnership .masonry_block .masonry_block-col > div {
        width: 100%;
        margin-bottom: 30px;
        padding: 57px 55px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 20px;
        padding-right: 20px; }
        @media screen and (min-width: 320px) {
          #intro_broker_partnership .masonry_block .masonry_block-col > div {
            padding-top: calc(25px + 32 * (100vw - 320px) / 1120);
            padding-bottom: calc(25px + 32 * (100vw - 320px) / 1120); } }
        @media screen and (min-width: 1440px) {
          #intro_broker_partnership .masonry_block .masonry_block-col > div {
            padding-top: 57px;
            padding-bottom: 57px; } }
        @media screen and (min-width: 320px) {
          #intro_broker_partnership .masonry_block .masonry_block-col > div {
            padding-left: calc(20px + 35 * (100vw - 320px) / 1120);
            padding-right: calc(20px + 35 * (100vw - 320px) / 1120); } }
        @media screen and (min-width: 1440px) {
          #intro_broker_partnership .masonry_block .masonry_block-col > div {
            padding-left: 55px;
            padding-right: 55px; } }
        @media screen and (max-width: 991px) {
          #intro_broker_partnership .masonry_block .masonry_block-col > div {
            margin-bottom: 15px; } }
        #intro_broker_partnership .masonry_block .masonry_block-col > div:last-child {
          margin-bottom: 0; }
          @media screen and (max-width: 767px) {
            #intro_broker_partnership .masonry_block .masonry_block-col > div:last-child {
              margin-bottom: 15px; } }
      #intro_broker_partnership .masonry_block .masonry_block-col .text_item_title {
        margin-bottom: 20px;
        font-size: 18px; }
        @media screen and (min-width: 320px) {
          #intro_broker_partnership .masonry_block .masonry_block-col .text_item_title {
            font-size: calc(18px + 4 * (100vw - 320px) / 1120); } }
        @media screen and (min-width: 1440px) {
          #intro_broker_partnership .masonry_block .masonry_block-col .text_item_title {
            font-size: 22px; } }
      #intro_broker_partnership .masonry_block .masonry_block-col p {
        padding-bottom: 30px;
        letter-spacing: 0.9px;
        font-size: 14px;
        line-height: 1.5; }
        @media screen and (min-width: 320px) {
          #intro_broker_partnership .masonry_block .masonry_block-col p {
            font-size: calc(14px + 2 * (100vw - 320px) / 1120); } }
        @media screen and (min-width: 1440px) {
          #intro_broker_partnership .masonry_block .masonry_block-col p {
            font-size: 16px; } }
        #intro_broker_partnership .masonry_block .masonry_block-col p:last-of-type {
          padding-bottom: 0; }

/*
  6 section
  ===================================
*/
#intro_broker_strategies {
  padding-top: 50px;
  padding-bottom: 50px; }
  @media screen and (min-width: 320px) {
    #intro_broker_strategies {
      padding-top: calc(50px + 59 * (100vw - 320px) / 1120); } }
  @media screen and (min-width: 1440px) {
    #intro_broker_strategies {
      padding-top: 109px; } }
  @media screen and (min-width: 320px) {
    #intro_broker_strategies {
      padding-bottom: calc(50px + 18 * (100vw - 320px) / 1120); } }
  @media screen and (min-width: 1440px) {
    #intro_broker_strategies {
      padding-bottom: 68px; } }
  #intro_broker_strategies > .container {
    padding: 0 15px; }
    @media screen and (max-width: 767px) {
      #intro_broker_strategies > .container {
        flex-direction: column; } }
  @media screen and (max-width: 767px) {
    #intro_broker_strategies .half_block {
      width: 100%; } }
  #intro_broker_strategies .half_block .sc_img {
    margin: 60px 0 27px; }
    #intro_broker_strategies .half_block .sc_img img {
      display: block;
      max-width: 100%;
      max-height: 100%; }
      @media screen and (max-width: 767px) {
        #intro_broker_strategies .half_block .sc_img img {
          margin-left: auto;
          margin-right: auto; } }
  @media screen and (max-width: 767px) {
    #intro_broker_strategies .half_block:first-child {
      padding-bottom: 45px; } }
  #intro_broker_strategies .half_block:first-child .text_wrapper_left_block > .sc_grey_text:nth-child(2) {
    margin-bottom: 10px; }
  #intro_broker_strategies .half_block:last-child .sc_img {
    margin-top: 30px;
    margin-bottom: 0; }
  #intro_broker_strategies .half_block:last-child .text_wrapper_right_block > .sc_grey_text {
    margin-bottom: 40px; }
  #intro_broker_strategies .left_block {
    padding-right: 15px; }
    @media screen and (max-width: 767px) {
      #intro_broker_strategies .left_block {
        padding-right: 0; } }
  #intro_broker_strategies .right_block {
    padding-left: 15px; }
    @media screen and (max-width: 767px) {
      #intro_broker_strategies .right_block {
        padding-left: 0; } }
  #intro_broker_strategies .strategy_title {
    margin-bottom: 27px; }
  #intro_broker_strategies .st_num {
    font-size: 55px;
    line-height: 1.0666666667; }
    @media screen and (min-width: 320px) {
      #intro_broker_strategies .st_num {
        font-size: calc(55px + 45 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_strategies .st_num {
        font-size: 100px; } }
  #intro_broker_strategies .st_content {
    line-height: 1;
    font-size: 28px; }
    @media screen and (min-width: 320px) {
      #intro_broker_strategies .st_content {
        font-size: calc(28px + 12 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_strategies .st_content {
        font-size: 40px; } }
  #intro_broker_strategies .half_block_row {
    width: 100%;
    max-width: 496px; }
    @media screen and (max-width: 767px) {
      #intro_broker_strategies .half_block_row {
        max-width: 100%; } }
  #intro_broker_strategies .sc_text {
    font-size: 14px;
    line-height: 1.5; }
    @media screen and (min-width: 320px) {
      #intro_broker_strategies .sc_text {
        font-size: calc(14px + 2 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_strategies .sc_text {
        font-size: 16px; } }
  #intro_broker_strategies .sc_white_text,
  #intro_broker_strategies .sc_grey_text {
    font-size: 14px; }
    @media screen and (min-width: 320px) {
      #intro_broker_strategies .sc_white_text,
      #intro_broker_strategies .sc_grey_text {
        font-size: calc(14px + 2 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_strategies .sc_white_text,
      #intro_broker_strategies .sc_grey_text {
        font-size: 16px; } }
  #intro_broker_strategies .text_wrapper_left_block {
    margin: 0; }
  #intro_broker_strategies .text_wrapper_left_block .bigger_price,
  #intro_broker_strategies .text_wrapper_right_block .bigger_price {
    font-size: 24px; }
    @media screen and (min-width: 320px) {
      #intro_broker_strategies .text_wrapper_left_block .bigger_price,
      #intro_broker_strategies .text_wrapper_right_block .bigger_price {
        font-size: calc(24px + 8 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_strategies .text_wrapper_left_block .bigger_price,
      #intro_broker_strategies .text_wrapper_right_block .bigger_price {
        font-size: 32px; } }

/*
  7 section
  ===================================
*/
#intro_broker_partners {
  position: relative;
  background-image: none;
  padding-top: 90px;
  padding-bottom: 115px; }
  @media screen and (min-width: 320px) {
    #intro_broker_partners {
      padding-top: calc(90px + 90 * (100vw - 320px) / 1120); } }
  @media screen and (min-width: 1440px) {
    #intro_broker_partners {
      padding-top: 180px; } }
  @media screen and (min-width: 320px) {
    #intro_broker_partners {
      padding-bottom: calc(115px + 121 * (100vw - 320px) / 1120); } }
  @media screen and (min-width: 1440px) {
    #intro_broker_partners {
      padding-bottom: 236px; } }
  #intro_broker_partners .bg {
    z-index: 0;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    @media screen and (max-width: 767px) {
      #intro_broker_partners .bg {
        position: static; } }
    #intro_broker_partners .bg_left, #intro_broker_partners .bg_right {
      width: 50%;
      height: 100%; }
    #intro_broker_partners .bg_left {
      left: 0; }
      @media screen and (max-width: 767px) {
        #intro_broker_partners .bg_left {
          display: none; } }
    #intro_broker_partners .bg_right {
      right: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      @media screen and (max-width: 767px) {
        #intro_broker_partners .bg_right {
          width: 100%; } }
    #intro_broker_partners .bg img {
      display: block;
      max-width: 100%;
      height: auto; }
  #intro_broker_partners > .container {
    z-index: 1;
    position: relative;
    padding: 0 15px; }
  @media screen and (max-width: 767px) {
    #intro_broker_partners .half_block {
      width: 100%; } }
  #intro_broker_partners .partners_title {
    font-size: 45px;
    line-height: 1.28; }
    @media screen and (min-width: 320px) {
      #intro_broker_partners .partners_title {
        font-size: calc(45px + 55 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_partners .partners_title {
        font-size: 100px; } }
  #intro_broker_partners .partners_subtitle {
    font-size: 22px;
    line-height: 1.2666666667; }
    @media screen and (min-width: 320px) {
      #intro_broker_partners .partners_subtitle {
        font-size: calc(22px + 8 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_partners .partners_subtitle {
        font-size: 30px; } }
  #intro_broker_partners .partners_description {
    font-size: 14px;
    line-height: 1.5; }
    @media screen and (min-width: 320px) {
      #intro_broker_partners .partners_description {
        font-size: calc(14px + 2 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_partners .partners_description {
        font-size: 16px; } }
  #intro_broker_partners .partners_note {
    letter-spacing: -0.1px;
    line-height: 1.7142857143;
    font-size: 12px; }
    @media screen and (min-width: 320px) {
      #intro_broker_partners .partners_note {
        font-size: calc(12px + 2 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_partners .partners_note {
        font-size: 14px; } }
  #intro_broker_partners #partners_menu a {
    pointer-events: none;
    cursor: default;
    padding: 15px 24px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif; }
    @media screen and (min-width: 320px) {
      #intro_broker_partners #partners_menu a {
        padding-left: calc(20px + 4 * (100vw - 320px) / 1120);
        padding-right: calc(20px + 4 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_partners #partners_menu a {
        padding-left: 24px;
        padding-right: 24px; } }
    @media screen and (min-width: 320px) {
      #intro_broker_partners #partners_menu a {
        font-size: calc(12px + 4 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_partners #partners_menu a {
        font-size: 16px; } }

/*
  8 section
  ===================================
*/
#intro_broker_promo {
  padding-top: 10px;
  padding-bottom: 55px;
  background-image: none; }
  @media screen and (min-width: 320px) {
    #intro_broker_promo {
      padding-top: calc(10px + 163 * (100vw - 320px) / 1600); } }
  @media screen and (min-width: 1920px) {
    #intro_broker_promo {
      padding-top: 173px; } }
  @media screen and (min-width: 320px) {
    #intro_broker_promo {
      padding-bottom: calc(55px + 64 * (100vw - 320px) / 1120); } }
  @media screen and (min-width: 1440px) {
    #intro_broker_promo {
      padding-bottom: 119px; } }
  #intro_broker_promo > .container {
    padding: 0 15px; }
    @media screen and (max-width: 767px) {
      #intro_broker_promo > .container {
        flex-direction: column-reverse; } }
  @media screen and (max-width: 767px) {
    #intro_broker_promo .half_block {
      width: 100%; } }
  #intro_broker_promo .left_block {
    display: flex;
    flex-direction: column; }
    #intro_broker_promo .left_block .left_block_row {
      width: 100%;
      height: 100%;
      max-width: 510px;
      background-image: url(../img/introBrokers/promo.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
      @media screen and (max-width: 767px) {
        #intro_broker_promo .left_block .left_block_row {
          min-height: 500px; } }
  #intro_broker_promo .right_block .right_block_row {
    width: 100%;
    max-width: 620px; }
    @media screen and (max-width: 1199px) {
      #intro_broker_promo .right_block .right_block_row {
        padding-left: 15px; } }
    @media screen and (max-width: 767px) {
      #intro_broker_promo .right_block .right_block_row {
        padding-left: 0; } }
  #intro_broker_promo .partners_title {
    font-size: 45px;
    line-height: 1.28; }
    @media screen and (min-width: 320px) {
      #intro_broker_promo .partners_title {
        font-size: calc(45px + 55 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_promo .partners_title {
        font-size: 100px; } }
  #intro_broker_promo .partners_subtitle {
    margin: 0;
    padding: 37px 0 23px;
    font-size: 22px;
    line-height: 1.2666666667; }
    @media screen and (min-width: 320px) {
      #intro_broker_promo .partners_subtitle {
        font-size: calc(22px + 8 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_promo .partners_subtitle {
        font-size: 30px; } }
  #intro_broker_promo .partners_description {
    font-size: 16px;
    line-height: 1.5; }
    @media screen and (min-width: 320px) {
      #intro_broker_promo .partners_description {
        font-size: calc(16px + 4 * (100vw - 320px) / 1120); } }
    @media screen and (min-width: 1440px) {
      #intro_broker_promo .partners_description {
        font-size: 20px; } }
    #intro_broker_promo .partners_description p {
      padding-top: 48px; }

/*
  1 section
  ===================================
*/
/*
  1 section
  ===================================
*/
/*
  1 section
  ===================================
*/
/*
  1 section
  ===================================
*/

/*# sourceMappingURL=responsive.css.map */
